<h1><%= title %></h1>
<p>Welcome to <%= title %></p>

<ul id="tweets">

</ul>

<div id="templates" style="display: none">
     <li id="tweet-template">${user.screen_name} :: ${text} <a href="${image_link}">${image_link}</a>
     <img src="${image_url}" /></li>
</div>
